.content__intro{
max-width: 984px;
margin: auto;
}

.content__title{
    max-width: 80%;
    font-size: 54px;
}

.content__subtitle{
    max-width: 80%;
    font-size: 24px;
}

.content__author{
    text-align: end;
    max-width: 80%;
}

.content__text{
    max-width: 80%;
}