

.content__intro{
max-width: 984px;
margin: 0 auto;
}

.content__title{
    max-width: 80%;
    font-size: 54px;
}

.content__subtitle{
    max-width: 80%;
    font-size: 24px;
}

.content__author{
    text-align: end;
    max-width: 80%;
}

.content__text{
    max-width: 80%;
}

@media screen and (max-width: 768px){
.content__intro{
    margin-left: 20px;
    
}
.content__subtitle{
    max-width: 100%;
}

.content_author{
    max-width: 100%;
}

.content__text{
    max-width: 100%;
}
}

@media screen and (max-width: 320px) {
    
    .content{
        max-width: 320px;
    }

    .content__intro{
        margin-left: 5px;
    }

    .content__title{
        font-size: 32px;
    }

    .content__subtitle{
        font-size: 24px;
    }
}