.page{
    margin: 0;
    padding: 0;
    background-color: #2A2C2F;
    max-width: 700px;
    color: #ffffff;
    font-family: "Inter";
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* se puede colocar al centro tambien con
    display: block; */
}
.header__logo{
    margin-top: 30px;
    
}

.header__title{
    font-size: 96px;
    font-weight: 900;
    text-align: center;
}

.header__subtitle{
    text-align: center;
    font-size: 30px;
    max-width: 720px;
}

.header__paragraph{
    text-align: center;
}

.header__span{
    display: flex;
    flex-direction: column;
}

.header__image{
    width: 100%;
    max-width: 984px;
    margin-top: 30px;
}