.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__logo{
    margin-top: 30px;
    
}

.header__title{
    font-size: 96px;
    font-weight: 900;
    text-align: center;
}

.header__subtitle{
    text-align: center;
    font-size: 30px;
    max-width: 720px;
}

.header__image{
    width: 100%;
    max-width: 984px;
    margin-top: 30px;
}

.header__paragraph{
    text-align: center;
}

.header__span{
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 768px) {
    .header__image{
    width: 100%;
}
}

@media screen and (max-width: 320px){
    .header{
        max-width: 320px;
    }
    .header__title{
        font-size: 40px;
    }
    .header__subtitle{
        font-size: 16px;
    }
    }