.main__intro{
max-width: 984px;
margin: auto;
}

.main__title{
    max-width: 80%;
    font-size: 54px;
}

.main__subtitle{
    max-width: 80%;
    font-size: 24px;
}

.main__author{
    text-align: end;
    max-width: 80%;
}

.main__text{
    max-width: 80%;
}